.card-width {
  max-width: 600px;
  min-width: 250px;
}

.yellow-icon {
  color: theme('colors.yellow');
}

.next-button {
  background-color: white;
  color: gray;
  border: 1px solid gray;

  &:hover {
    background-color: theme('colors.yellow');
    color: black;
  }
}

.show-all-button:hover {
  background-color: theme('colors.yellow');
  color: black;
}