.tours-container {

  .carousel-img {
    object-fit: contain;
    object-position: center;
    height: 500px;
    background-color: black;
  }

  ul {
    list-style: initial;
    justify-items: baseline;
  }

  .activity {

    .activity-title {
      background-color: theme('colors.ligthGray');
      border-color: gray;

      &:hover {
        background-color: theme('colors.green');
        border-color: theme('colors.green') !important;
      }
    }
  }

  li::marker {
    color: theme('colors.yellow');
  }

  .carousel-control-next,
  .carousel-control-prev {
    height: 35px;
    width: 35px;
    margin: auto;
    border-radius: 25px;
  }

  .carousel-control-next:hover,
  .carousel-control-prev:hover {
    background-color: #7788994d;
  }

}

.max-width-650 {
  max-width: 650px;
  margin: 0 10px;
}